[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "covid19brazil"]
	path = covid19brazil
	url = https://github.com/alexandreloures/covid19brazil
[submodule "zerotradeflow"]
	path = zerotradeflow
	url = https://github.com/alexandreloures/zerotradeflow
